<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Hello, world!</title>
</head>

<body>
  <div class="container">
    <h1 class="mt-5"> Enter the details for writing application !</h1>
    <div class="row">
      <div class="col-lg-6">
        <form class="" action="/" method="post">
          <div class="form-group">
            <label for="Name of the candidate">Name of the candidate</label>
            <input type="text" class="form-control" name="nameofcandidate" placeholder="Enter Name of the candidate">
          </div>
          <div class="form-group">
            <label for="Date Of Birth">Date of Birth</label>
            <input type="date" class="form-control" name="dateofbirth"
              placeholder="Enter date of birth of the candidate">
          </div>
          <div class="form-group">
            <label for="Current Location">Current Location of the candidate</label>
            <input type="text" class="form-control" name="locationofcandidate"
              placeholder="Enter location of the candidate">
          </div>
          <div class="form-group">
            <label for="Contact Details">Contact Details</label>
            <input type="number" class="form-control" name="numberofcandidate"
              placeholder="Enter contact number of the candidate">
          </div>
          <div class="form-group">
            <label for="Country">Country for which you have applied for Student Visa</label>
            <input type="text" class="form-control" name="country" placeholder="Enter country">
          </div>
          <div class="form-group">
            <label for="Name of the college">Name of college you are applying for admission</label>
            <input type="text" class="form-control" name="nameofcollege" placeholder="Enter Name of the college">
          </div>
          <div class="form-group">
            <label for="Name of the course/link">Help us with the course you have applied and add the link to the course
              / program</label>
            <input type="text" class="form-control" name="nameofcourse" placeholder="Enter Name of the course">
          </div>
          <div class="form-group">
            <label for="Score">Share your IELTS Academics Band and score in Listening /Reading /Writing
              /Speaking</label>
            <input type="text" class="form-control" name="score" placeholder="Enter Score">
          </div>
          <div class="form-group">
            <label for="Score2">Share academics percentages for 10th ,12th ,graduation with the year you passed and
              stream choosen</label>
            <input type="text" class="form-control" name="Score2" placeholder="Enter scores of academics">
          </div>
          <div class="form-group">
            <label for="Experience">Let us know your experience ? You can also add here your hobbies , extra curricular
              activities in School or Colleges ?</label>
            <input type="text" class="form-control" name="experience" placeholder="Experience">
          </div>
          <div class="form-group">
            <label for="Parents information">Share information related to your parents and siblings, let us know their
              profession and education .</label>
            <input type="text" class="form-control" name="parentsinfo" placeholder="Enter details">
          </div>
          <div class="form-group">
            <label for="Refusal">Had you received any visa refusal in the past ?</label>
            <input type="text" class="form-control" name="refusal" placeholder="Refusal Status">
          </div>
          <div class="form-group">
            <label for="Infromation realted to academics">Anything in specific ,you wish to inform us which relates to
              your course or academics or else of your work experience</label>
            <input type="text" class="form-control" name="academicinfo" placeholder="Enter deatils of academic">
          </div>
          <div class="form-group">
            <label for="Gap Year">Do you have a GAP year ,let us know in detail on this ,if you don't have a gap year
              ,just mention it as Not Applicable</label>
            <input type="text" class="form-control" name="gapyear" placeholder="Yes/No">
          </div>
          <div class="form-group">
            <label for="Fees">Share GIC paid and Fees amount deposited</label>
            <input type="text" class="form-control" name="fees" placeholder="GIC Fees">
          </div>
          <div class="form-group">
            <label for="Fee Status">Have you paid the fees for the SOP services?</label>
            <input type="text" class="form-control" name="feestatus" placeholder="Enter status of fees">
          </div>
          <div class="form-group">
            <label for="Confirmation">Kindly confirm that you had shared all genuine information and you agree to
              indemnify and hold Turn Around School Consultants and its affiliates, officers, agents, co-branders or
              other partners and employees, harmless from any claim or demand, including reasonable attorneys’ fees made
              by any third party due to the content you submit or the document we share as a final product ,towards your
              use of this services , your violation of the Terms of Use, or your violation of any rights of another
              user.</label>
            <input type="text" class="form-control" name="confirmation" placeholder="Confirmation">
          </div>
          <!--<button id="name" class="btn btn-primary">
            Submit Name
          </button>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
          <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
          </div> -->
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
      <div class="col-lg-6">
        <p> 1. {{blogTopicIdeas|safe}} </p>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.3/dist/umd/popper.min.js"
      integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
      crossorigin="anonymous"></script>
  </div>
</body>

</html>